@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");
:root {
    --color-text: #fff;
    --bg-twitter: rgb(27, 153, 236);
    --bg-insta: rgb(236, 156, 27);
    --bg-github: rgb(61, 60, 60);
    --bg-ytube: rgb(235, 27, 20);
    --bg-discord: rgb(186, 14, 230);
}

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Helvetica";
}

body {
    background: rgb(8, 8, 8);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    /*align-items: center;*/
    padding-top: 25px;
}

.contenedor__principal {
    width: 550px;
    height: max-content;
    /*border: 1px solid #fff;*/
    padding: 30px;
}

.nombre__foto {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

.nombre__foto img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    object-position: top;
}

.nombre__foto h1,
.nombre__foto p {
    color: var(--color-text);
}

.nombre__foto h1 {
    font-size: 30px;
    margin-top: 10px;
}

.nombre__foto p {
    color: var(--color-text);
    font-size: 18px;
    margin: 5px 0 0 0;
}

.redes {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.redes a {
    text-decoration: none;
    width: 100%;
    text-align: center;
    padding: 18px 0;
    color: var(--color-text);
    font-size: 18px;
    font-weight: bold;
    border-radius: 8px;
}

.twt {
    background: var(--bg-twitter);
}

.twt:hover {
    background: var(--color-text);
    color: var(--bg-twitter);
}

.insta {
    background: var(--bg-insta);
}

.insta:hover {
    background: var(--color-text);
    color: var(--bg-insta);
}

.gith {
    background: var(--bg-github);
}

.gith:hover {
    background: var(--color-text);
    color: var(--bg-github);
}

.ytube {
    background: var(--bg-ytube);
}

.ytube:hover {
    background: var(--color-text);
    color: var(--bg-ytube)
}

.discord {
    background: var(--bg-discord);
}

.discord:hover {
    background: var(--color-text);
    color: var(--bg-discord);
}

.redes i {
    margin-right: 3px;
}